.container {
	min-height: 100vh;
	display: grid;
	grid-template-areas: "header" "players" "footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
}

.title {
	text-align: center;
	margin-block: 1rem;
	font-size: clamp(2.5rem, 10vw, 4rem);
}

.players {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	justify-items: center;
	align-items: flex-start;
	gap: 1rem;
	padding: 0 1rem;
}

.footer {
	height: 6rem;
	text-align: center;
	line-height: 6rem;
}
