.container {
	max-width: 64ch;
	margin: 0 auto;
	padding: 0 0.5rem;

	label,
	input {
		width: 100%;
		margin: 0.5rem 0;
	}

	label {
		font-weight: 500;
	}

	input {
		padding: 0.5rem;
	}
}

.upload {
	display: none;

	&.label {
		width: 100%;
		height: 18rem;
		border: 0.75rem dashed rgb(196, 196, 196);
		border-radius: 2rem;
		margin: 0.5rem auto;

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		font-weight: 500;

		cursor: pointer;
	}
}

.information {
	max-width: 48ch;
	margin: 0 auto;
}

.credentials {
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	align-items: center;
	gap: 1rem;

	margin: 1rem 0;

	label,
	input {
		margin: 0;
	}
}

.submit {
	width: 32ch;
	height: 3rem;
	margin: 0 auto;

	text-align: center;
	display: block;
}
