.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	width: 100%;

	.title,
	.artist,
	.bpm {
		text-align: center;
		margin: 0;
		width: 100%;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.title {
		font-weight: 500;
	}

	.artist,
	.bpm {
		color: gray;
		font-weight: 400;
	}

	.image {
		aspect-ratio: 2 / 1;
		width: 100%;
		position: relative;

		&::before,
		.text {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&::before {
			content: "";
			display: block;

			mask-image: var(--source);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;

			animation-duration: var(--duration, 1s);
			animation-iteration-count: infinite;
			animation-timing-function: linear;

			background: linear-gradient(90deg, #fc772a 50%, gray 50%);
			background-position: 100% 50%;
			background-size: 200%;
		}

		.text {
			background: rgba(255 255 255 / 60%);
			text-align: center;
			opacity: 0;
			transition: opacity 0.2s;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #6d6d6f;
		}
	}

	.link {
		width: 100%;

		&:hover,
		&:focus,
		&:focus-within {
			.text {
				opacity: 100;
			}
		}
	}

	.button {
		width: 2rem;
		height: 2rem;

		border-radius: 2rem;
		border: 0.25rem #00000088 solid;
		color: #6d6d6f;

		cursor: pointer;
	}

	.wave {
		height: 8rem;
		width: 100%;
	}

	&.active:not(.loading) {
		.image::before {
			animation-name: gradient-animation;
		}
		.button {
			background: rgb(44, 240, 44);
			color: #147014;
		}
	}

	&.loading .button {
		background: lightskyblue;
		color: #3f6075;
	}
}

@keyframes gradient-animation {
	from {
		background-position: 100% 50%;
	}
	to {
		background-position: 0% 50%;
	}
}
